@font-face {
    font-family: "cast iron";
    src: url("../fonts/cast_iron/Cast\ Iron.ttf") format("truetype");
}

html {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    max-width: 1600px;
    width: 100%;
}

.test {
    background: pink;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

a,
a:visited {
    /* color: initial; */
    text-decoration: none;
}

a:focus,
input:focus {
    outline: dashed red;
}

.h1,
.h2,
.h3 {
    color: #964B00;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.25s ease-out;
}

.page-enter,
.page-leave-active {
    opacity: 0;
    transform-origin: 50% 50%;
}